:root {
    --primary-color: #7b212c;
    --background-color: #F7FAF6;
    --secondary-background-color: #56922c;
    --text-color: #000000;
    --input-background-color: #84c2b0;
    --input-text-color: #7fa502;
    --font-family: sans-serif;
}

.stApp {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family);
}

.stButton button {
    background-color: var(--primary-color);
    color: white;
}

.stTextInput input {
    background-color: var(--input-background-color);
    color: var(--input-text-color);
}

.stTextInput label {color: var(--text-color);
}